{% extends 'service/base.html' %}
{% block content %}
{% for  object in object_list %}

<div class="col-6">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
           <h4 class="card-title pricing-card-title">{{ object.first_name|title }}</h4>
            <h4 class="card-title pricing-card-title">{{ object.last_name }}</h4>
            <h4 class="card-title pricing-card-title">{{ object.contact_email }}</h4>
            <h4 class="card-title pricing-card-title">{{ object.feedback }}</h4>
                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="{% url 'client:client_update' object.pk %}" type="button" class="btn btn-secondary">Изменить</a>
                        <a href="{% url 'client:client_delete' object.pk %}" type="button" class="btn btn-secondary">Удалить</a>
                  </div>

        </div>

    </div>
</div>

{% endfor %}
{% endblock content %}