{% extends 'service/base.html' %}
{% block content %}
{% for object in object_list %}
<div class="col-6">
    <div class="card mb-6 box-shadow">
        <div class="card-body">
            <h3 class="card-title pricing-card-title">{{ object.title|title }},{{ object.slug_name}}</h3>
            <h4 class="card-title pricing-card-title">{{ object.description}}</h4>
            <h5 class="card-title pricing-card-title">Количество просмотров:{{ object.views_count}}</h5>

            <ul class="list-unstyled mt-5 mb-5 text-start m-5">
                <li></li>
            </ul>
            <div  class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <a href="{% url 'blog:blog_detail' object.pk %}" type="button" class="btn btn-secondary">Подробная информация</a>
                <a type="button" class="btn btn-secondary"> Опубликован: {{ object.publication_date }}</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock content %}